html
  head
    block title
      title Marvo
    link(rel="stylesheet", href="/__public/highlight/default.css")
    link(rel="stylesheet", href="/__public/app.css")

  body
    div#main
      block content
      block foot
        #footer
          div.msg Made with ♥︎ and JavaScript.
          div.links
            a(href="https://github.com/chuyik/marvo", target="_blank") Source on Github
