extends ./_layout.jade

block title
  title #{fileName} - Marvo

block content
  div.nav-header
    div
      i.glyphicon.glyphicon-chevron-left.back-btn
        a(href="./") link
      | #{fileName}
  div.toc!=toc
  div.page
    div.md-content!= html
  script(type='text/javascript').
    setTimeout(function(){
      var $ = function(s){return document.querySelector(s);};
      $('div.toc').style.left = '-' + window.getComputedStyle($('div.toc')).width;
    }, 500);
