@import url('fonts/source-sans-pro/source-sans-pro.css');
@import url('fonts/source-code-pro/source-code-pro.css');

body {
  background-color: #F2F2F2;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

code, pre {
  font-family: 'Source Code Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

pre {
  // background-color: #353434;
  // color: #DBD9D9;
  background-color: rgba(152, 152, 152, 0.05);
  color: #333;
  text-align: start;
  border: 0;
  padding: 10px 20px;
  border-radius: 5px;
}

p, pre, pre.prettyprint, blockquote {
  margin: 0 0 1.1em;
}

.md-content {

  li {
    margin-bottom: 5px;
  }

  h1 {
    font-size: 2.6em
  }

  h2 {
    font-size: 2.15em
  }

  h3 {
    font-size: 1.7em
  }

  h4 {
    font-size: 1.25em
  }

  h5 {
    font-size: 1em
  }

  h6 {
    font-size: .85em
  }

  h1,h2,h3,h4,h5,h6 {
    margin: 1.5em 0;
    text-align: start;
  }

  h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-weight: 300;
    line-height: 1.1;
  }
}
