.toc {
    position: fixed;
    font-size: 14px;
    background-color: #FFF;
    border: 1px solid #CCC;
    padding: 10px;
    top: 10%;
    left: -100%;
    max-width: 340px;
    transition: .3s;
    &:hover {
        left: 0px !important;
    }
    > ul{
        padding: 0px;
        width: 100%;
    }
    .btn-default {
        position: absolute;
        right: -40px;
        top: -1px;
        border-radius: 0;
    }
}
